<h1>list heroes</h1>
<mat-divider></mat-divider>
<input type="text" [(ngModel)]="search" (ngModelChange)="filter($event)">
<ul>
    <li *ngFor="let heroe of heroes">
        {{heroe.name}}
    </li>
</ul>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div fxFlex="30" *ngFor="let heroe of heroes">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{heroe.name}}
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="heroe.image.url">
            <mat-card-content>
                <p>
                    <strong>Appearance</strong>
                    <br>
                    <span>Gender: </span> {{heroe.appearance.gender}}
                    <br>
                    <span>Race:</span>{{heroe.appearance.race}}
                    <br>
                    <span>Height: </span> {{heroe.appearance.height}}
                    <br>
                    <span>Weight:</span> {{heroe.appearance.weight}}
                </p>
                <p>
                    <strong>Powerstats</strong>
                    <br>
                    <span>Combat: </span> {{heroe.powerstats.combat}}
                    <br>
                    <span>Durability:</span> {{heroe.powerstats.durability}}
                    <br>
                    <span>Intelligence: </span> {{heroe.powerstats.intelligence}}
                    <br>
                    <span>Power:</span> {{heroe.powerstats.power}}
                    <br>
                    <span>Speed:</span> {{heroe.powerstats.speed}}
                    <br>
                    <span>Strength:</span> {{heroe.powerstats.strength}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>


</div>
